@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* draggable header */
.titlebar {
  -webkit-app-region: drag;
}

/* buttons inside titlebar should NOT be draggable */
.titlebar button {
  -webkit-app-region: no-drag;
}

@theme inline {
  --color-sec: oklch(43.9% 0 0);
  --font-monts: "Montserrat", sans-serif;
}
